body {
    margin: 0;
    background-color: #1D060F;
    color: #FFB7D4;
    background-image: url(../img/fundo.jpg);
}

header {
    padding-top: 0.1vh;
    /* display: flex; */
    align-items: center;
    background-color: #6C1437;
}

#titulo {
    font-size: 80px;
}

#pipoca {
    
    width: 100px;
}

#cont-index {
    display: flex;
    padding: 100px;
}

footer {
    font-size: 18px;
    background-color: #6C1437;
    padding: 0.1vw;
    padding: 0.5px 20px;
}

.fig{
    width: 200px;
}

.box {
    background-color: #C0829B;
    border-style: none;
    width: 100px;
    height: 100px;
}

.circle {
    border-radius: 100px;
}

.box-img {
    width: 60px;
}