body {
    margin: 0;
    background-color: #1D060F;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #FFB7D4;
    background-image: url(../img/fundo.jpg);
}

/* Header */

header {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    background-color: #6C1437;
}

#logo {
    display: flex;
    align-items: center;
}

#titulo {
    font-size: 70px;
}

#pipoca {
    width: 120px;
}

.links {
    text-decoration: none;
    font-size: 40px;
    color: #FFB7D4;
}
#head-button {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.box-circle {
    background-color: #FFB7D4;
    border-style: none;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    cursor: pointer;
    transition: transform 0.2 ease;
}

.box-circle:hover {
    transform: scale(1.05);
}

.box-img {
    width: 60px;
}

/* Index */

main {
    flex: 1;
}

#cont-index {
    padding: 100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

#cont-index figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 20px 0;
    background-color: #6C1437;
    border-radius: 10px;
    margin-bottom: 100px;
    box-shadow: 6px 10px 4px #000;
    transition: transform 0.2s ease;
}

#cont-index figure:hover {
    transform: scale(1.05);
}

.fig{
    width: 100%;
    max-height: 400px;
}

figcaption{
    font-size: 25px;
    margin-top: 10px;
}

/* Contatos */

form {
    margin: 50px 200px;
    padding: 40px;
    background-color: rgb(108, 20, 55, 80%);
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 6px 10px 4px #000;
}

label {
    padding-bottom: 100px;
}

.input {
    color: #AC2F61;
    width: 100%;
    font-size: 20px;
    border: none;
    background-color: #FFD9E8;
    margin-bottom: 20px;
}

.box {
    background-color: #FF88B8;
    border-style: none;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    margin: 5px;
    font-size: 20px;
    color: #AC2F61;
    cursor: pointer;
}

/* Detalhes */

.filme {
    display: flex;
    justify-content: center;
    margin: 50px 200px;
}

.img-filme {
    width: 400px;
    border-radius: 10px;
    box-shadow: 6px 10px 4px #000;
}

.detalhes {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    padding: 10px 30px;
    background-color: rgb(108, 20, 55, 80%);
    border-radius: 50px;
    box-shadow: 6px 10px 4px #000;
}

.titulo-detalhes {
    text-align: center;
    font-size: 50px;
}

.sinopse {
    text-align: justify;
    font-size: 25px;
}

.desc-detalhes {
    text-align: left;
    font-size: 25px;
}

/* Footer */

footer {
    font-size: 18px;
    background-color: #6C1437;
    padding: 0 20px;
}


@media (max-width: 1460px) {
    #cont-index {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }    
}


@media (max-width: 1732px) {
    .filme {
        display: flex;
        flex-direction: column;
        margin: 50px 400px;
    }

    .img-filme {
        margin: 30px auto;
    }

    .detalhes {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 10px 30px;
        background-color: rgb(108, 20, 55, 80%);
        border-radius: 50px;
    }
}